<% include ../layouts/header %>
<p>This is new user form</p>
<form action="/users/" method="POST">
    First name:<br>
    <input type="text" name="firstname" value="nada">
    <br>
    age:<br>
    <input type="number" name="age" value="23">
    <br><br>
    <input type="submit" value="Submit">
  </form> 
  <% include ../layouts/footer %>